Repository ansys/ansys-templates, pull requests merged in 2022-10, with the labels that each got.

#164 CI: use pyansys workflows
  .github/workflows/ci.yml
Labels: documentation, maintenance

#169 FEAT: implement PDF biulder
  doc/Makefile
  doc/make.bat
Labels: documentation

#170 change version switcher position
  doc/source/conf.py
Labels: bug, documentation

#171 Add favicon and title
  doc/source/conf.py
Labels: documentation
