Repository ansys/ansys-templates, pull requests merged in 2022-08, with the labels that each got.

#135 Add blocked label
  .github/labels.yml
Labels: maintenance

#140 FIX: doc link in README.rst
  README.rst
Labels: bug

#143 Minor improvements to coverage output and badges
  .gitignore
  README.rst
  pyproject.toml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.gitignore
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/tox.ini
  src/ansys/templates/python/pyansys_advanced/{{cookiecutter.__project_name_slug}}/README.rst
  tox.ini
Labels: enhancement, maintenance
