Repository ansys/ansys-templates, pull requests merged in 2022-06, with the labels that each got.

#97 Maint/switch to ansys sphinx theme
  doc/source/conf.py
  requirements/requirements_doc.txt
Labels: maintenance

#86 Adding autolabeler workflows to Python templates
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/label.yml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.github/labeler.yml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.github/labels.yml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.github/workflows/label.yml
  src/ansys/templates/python/pyace_fastapi/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_flask/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_grpc/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_pkg/hooks/post_gen_project.py
  src/ansys/templates/python/pyansys_advanced/hooks/post_gen_project.py
  tests/tests_templates/test_python_templates.py
Labels: enhancement, maintenance

#103 Use MAIN_PYTHON_VERSION env var
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.github/workflows/ci_cd.yml
Labels: enhancement

#104 Add documentation on templates features
  README.rst
  doc/source/_static/basic_usage.gif
  doc/source/index.rst
  doc/source/templates.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

#107 Fix requirements and include dependabot
  requirements/requirements_build.txt
  requirements/requirements_doc.txt
  requirements/requirements_tests.txt
  src/ansys/templates/python/common/cookiecutter.json
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.github/dependabot.yml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/requirements_build.txt
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/requirements_doc.txt
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/requirements_tests.txt
  src/ansys/templates/python/pyace_fastapi/cookiecutter.json
  src/ansys/templates/python/pyace_fastapi/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_flask/cookiecutter.json
  src/ansys/templates/python/pyace_flask/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_grpc/cookiecutter.json
  src/ansys/templates/python/pyace_grpc/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_pkg/cookiecutter.json
  src/ansys/templates/python/pyace_pkg/hooks/post_gen_project.py
  src/ansys/templates/python/pyansys/cookiecutter.json
  src/ansys/templates/python/pyansys_advanced/cookiecutter.json
  src/ansys/templates/python/pyansys_advanced/hooks/post_gen_project.py
  src/ansys/templates/python/pyansys_openapi_client/cookiecutter.json
  src/ansys/templates/python/pybasic/cookiecutter.json
  tests/tests_templates/test_python_templates.py
Labels: dependencies, maintenance

#109 Disable CI when concurrent workflows ongoing
  .github/workflows/ci.yml
  .github/workflows/label.yml
  .github/workflows/templates_python.yml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.github/workflows/ci_cd.yml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.github/workflows/label.yml
Labels: enhancement, maintenance

#112 Update tox==3.25.0 --> tox==3.25.1
  requirements/requirements_dev.txt
Labels: dependencies, maintenance

#113 Remove outdated flit sdist section
  pyproject.toml
Labels: bug, maintenance
