Repository ansys/ansys-templates, pull requests merged in 2022-07, with the labels that each got.

#116 Update links to ansys/ansys-templates
  .github/workflows/label.yml
  README.rst
  doc/source/templates.rst
Labels: bug, documentation, maintenance

#120 Make dependabot look for GH-action updates
  .github/dependabot.yml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.github/dependabot.yml
Labels: maintenance

#123 Adding issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
Labels: enhancement, maintenance

#122 Using Ansys logo instead of PyAnsys one
  doc/source/conf.py
Labels: documentation

#125 Improve docker efficiency
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.dockerignore
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/docker/Docker.md
  src/ansys/templates/python/pyace_fastapi/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_fastapi/{{cookiecutter.__project_name_slug}}/docker/Dockerfile
  src/ansys/templates/python/pyace_fastapi/{{cookiecutter.__project_name_slug}}/docker/README.md
  src/ansys/templates/python/pyace_fastapi/{{cookiecutter.__project_name_slug}}/docker/compose.yaml
  src/ansys/templates/python/pyace_flask/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_flask/{{cookiecutter.__project_name_slug}}/docker/Dockerfile
  src/ansys/templates/python/pyace_flask/{{cookiecutter.__project_name_slug}}/docker/README.md
  src/ansys/templates/python/pyace_flask/{{cookiecutter.__project_name_slug}}/docker/compose.yaml
  src/ansys/templates/python/pyace_grpc/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_grpc/{{cookiecutter.__project_name_slug}}/docker/Dockerfile
  src/ansys/templates/python/pyace_grpc/{{cookiecutter.__project_name_slug}}/docker/README.md
  src/ansys/templates/python/pyace_grpc/{{cookiecutter.__project_name_slug}}/docker/compose.yaml
  src/ansys/templates/python/pyace_grpc/{{cookiecutter.__project_name_slug}}/src/client.py
  src/ansys/templates/python/pyace_grpc/{{cookiecutter.__project_name_slug}}/src/services/pinger.py
  src/ansys/templates/python/pyace_pkg/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_pkg/{{cookiecutter.__project_name_slug}}/docker/Dockerfile
  src/ansys/templates/python/pyace_pkg/{{cookiecutter.__project_name_slug}}/docker/compose.yaml
  tests/tests_templates/test_python_templates.py
Labels: enhancement, maintenance
