Repository ansys/ansys-templates, pull requests merged in 2022-12, with the labels that each got.

#127 Fix poetry-based pyansys-advanced template
  .github/workflows/templates_python.yml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.github/dependabot.yml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/pyproject.toml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/tox.ini
  src/ansys/templates/python/pyansys_advanced/hooks/post_gen_project.py
  tests/tests_templates/test_python_templates.py
Labels: bug, maintenance

#196 Add new template for python-based solution application
  README.rst
  src/ansys/templates/__init__.py
  src/ansys/templates/cli.py
  src/ansys/templates/paths.py
  src/ansys/templates/python/solution/cookiecutter.json
  src/ansys/templates/python/solution/hooks/post_gen_project.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.flake8
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.github/workflows/ci_cd.yml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.gitignore
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.pre-commit-config.yaml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.vscode/launch.json
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/CHANGELOG.md
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/CODE_OF_CONDUCT.md
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/CONTRIBUTING.md
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/LICENSE.rst
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/README.rst
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/doc/.vale.ini
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/doc/Makefile
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/doc/make.bat
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/doc/source/_static/README.md
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/doc/source/_static/ansys-solutions-logo-black-background.png
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/doc/source/_templates/README.md
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/doc/source/_templates/sidebar-nav-bs.html
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/doc/source/conf.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/doc/source/index.rst
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/doc/styles/.gitignore
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/doc/styles/Vocab/ANSYS/accept.txt
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/doc/styles/Vocab/ANSYS/reject.txt
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/examples/README.md
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/pyproject.toml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/requirements/requirements_build.txt
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/requirements/requirements_doc.txt
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/requirements/requirements_style.txt
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/requirements/requirements_tests.txt
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/setup_environment.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/__init__.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/main.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/scripts/README.md
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/solution/definition.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/solution/first_step.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/solution/other_step.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui/app.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui/assets/Graphics/ansys-solutions-horizontal-logo.png
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui/assets/style.css
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui/first.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui/other.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui/page.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/tests/common_test_files/README.md
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/tests/conftest.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/tests/integration/test_dummy.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/tests/unit/test_dummy.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/tox.ini
  tests/tests_templates/test_python_templates.py
Labels: enhancement

#189 FEAT: stop using requirements and update to pyansys/actions
  .github/dependabot.yml
  .github/workflows/ci.yml
  doc/source/conf.py
  pyproject.toml
  requirements/requirements_build.txt
  requirements/requirements_dev.txt
  requirements/requirements_doc.txt
  requirements/requirements_tests.txt
  tox.ini
Labels: documentation, enhancement, dependencies, maintenance

#201 FEAT: generate solution template demo
  .github/workflows/templates_python.yml
  README.rst
  doc/source/templates.rst
  src/ansys/templates/python/solution/cookiecutter.json
  tests/tests_templates/test_python_templates.py
Labels: documentation, enhancement, maintenance
