Repository ansys/ansys-templates, pull requests merged in 2023-12, with the labels that each got.

#406 fix: handle missing repository key in pyproject.toml.
  src/ansys/templates/python/osl_solution/{{cookiecutter.__project_name_slug}}/doc/source/conf.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/doc/source/conf.py
Labels: bug

#411 Release 1.8.0 with Saf desktop 1.0
  pyproject.toml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.vscode/launch.json
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/poetry.lock
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/pyproject.toml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/setup_environment.py
Labels: maintenance

#412 Upgrade ansys-saf-glow to 0.4.4.
  src/ansys/templates/python/osl_solution/{{cookiecutter.__project_name_slug}}/.gitignore
  src/ansys/templates/python/osl_solution/{{cookiecutter.__project_name_slug}}/poetry.lock
  src/ansys/templates/python/osl_solution/{{cookiecutter.__project_name_slug}}/pyproject.toml
Labels: bug

#413 Bump ansys-saf-pim-light-server
  src/ansys/templates/python/osl_solution/{{cookiecutter.__project_name_slug}}/poetry.lock
  src/ansys/templates/python/osl_solution/{{cookiecutter.__project_name_slug}}/pyproject.toml
Labels: maintenance

#416 fix: remove unused `ansys/actions` ` build wheelhouse` input
  .github/workflows/ci.yml
  .github/workflows/templates_python.yml
  .reuse/dep5
  AUTHORS
  CONTRIBUTORS.md
  pyproject.toml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.github/labeler.yml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.github/workflows/ci_cd.yml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.github/workflows/label.yml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/tox.ini
  src/ansys/templates/python/pyansys/cookiecutter.json
  src/ansys/templates/python/pyansys_advanced/cookiecutter.json
  tests/tests_templates/test_python_templates.py
  tox.ini
Labels: bug, maintenance

#422 fix: update the dependencies
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/pyproject.toml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/requirements_doc.txt
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/requirements_tests.txt
Labels: bug
