Repository ansys/ansys-templates, pull requests merged in 2023-03, with the labels that each got.

#230 Update doc with setup_environment prerequisites. Upgrade GH actions.
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.github/workflows/ci.yml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/README.rst
Labels: documentation

#232 Bump CI and tox to 3.8
  .github/workflows/ci.yml
  .github/workflows/templates_python.yml
  tox.ini
Labels: enhancement, maintenance

#233 MAINT: templates
  .pre-commit-config.yaml
  .reuse/dep5
  AUTHORS.md
  README.rst
  doc/source/_static/basic_usage.gif
  doc/source/_static/basic_usage.tape
  doc/source/conf.py
  pyproject.toml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.github/dependabot.yml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.github/workflows/ci_cd.yml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.pre-commit-config.yaml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/doc/Makefile
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/doc/source/_static/README.md
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/doc/source/_templates/sidebar-nav-bs.html
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/doc/source/conf.py
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/pyproject.toml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/requirements_build.txt
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/requirements_doc.txt
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/requirements_tests.txt
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/tox.ini
  src/ansys/templates/python/doc_project/cookiecutter.json
  src/ansys/templates/python/doc_project/hooks/post_gen_project.py
  src/ansys/templates/python/doc_project/{{cookiecutter.__project_name_slug}}/.pre-commit-config.yaml
  src/ansys/templates/python/pyace_fastapi/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_flask/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_grpc/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_pkg/hooks/post_gen_project.py
  src/ansys/templates/python/pyansys/hooks/post_gen_project.py
  src/ansys/templates/python/pyansys_advanced/hooks/post_gen_project.py
  src/ansys/templates/python/pybasic/hooks/post_gen_project.py
  src/ansys/templates/python/solution/hooks/post_gen_project.py
  tests/tests_templates/test_python_templates.py
  tox.ini
Labels: documentation, maintenance

#235 FIX: ci/cd syntax
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  doc/source/_templates/sidebar-nav-bs.html
Labels: bug, documentation, maintenance
