Repository ansys/ansys-templates, pull requests merged in 2023-07, with the labels that each got.

#288 Add missing asset in UI + Integrate solutions Dash lib
  src/ansys/templates/python/solution/hooks/post_gen_project.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/poetry.lock
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/pyproject.toml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui/pages/first_page.py
  tests/tests_templates/test_python_templates.py
Labels: bug, enhancement

#290 Update poetry version in solution template.
  pyproject.toml
  src/ansys/templates/python/osl_solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/solution/problem_setup_step.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/pyproject.toml
Labels: bug, maintenance

#295 update solution template - updgrade portal recommended version to 0.4.1
  src/ansys/templates/python/osl_solution/{{cookiecutter.__project_name_slug}}/pyproject.toml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/pyproject.toml
Labels: enhancement

#296 Update lock files in solution templates.
  src/ansys/templates/python/osl_solution/hooks/post_gen_project.py
  src/ansys/templates/python/osl_solution/{{cookiecutter.__project_name_slug}}/poetry.lock
  src/ansys/templates/python/solution/hooks/post_gen_project.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/poetry.lock
  tests/tests_templates/test_python_templates.py
Labels: bug
