Repository ansys/ansys-templates, pull requests merged in 2023-02, with the labels that each got.

#218 Iazehaf remove UI directory in no UI mode
  src/ansys/templates/python/solution/cookiecutter.json
  src/ansys/templates/python/solution/hooks/post_gen_project.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.github/workflows/ci.yml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/README.rst
  tests/tests_templates/test_python_templates.py
Labels: bug, enhancement

#223 Update solution template with latest version of glow
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/pyproject.toml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/main.py
Labels: maintenance

#210 MAINT: implement reuse-tool for checking heading licenses
  .pre-commit-config.yaml
  .reuse/dep5
  .reuse/templates/ansys.jinja2
  COPYING
  LICENSES/MIT.txt
  README.rst
  doc/source/conf.py
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/templates.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/templating.rst
  doc/source/user_guide/usage.rst
  pyproject.toml
  src/ansys/templates/__init__.py
  src/ansys/templates/__main__.py
  src/ansys/templates/cli.py
  src/ansys/templates/paths.py
  src/ansys/templates/testing.py
  src/ansys/templates/utils.py
  tests/test_cli.py
  tests/test_testing.py
  tests/tests_templates/test_python_templates.py
Labels: documentation, maintenance

#224 Iazehaf bug fix remove useless colon
  pyproject.toml
  src/ansys/templates/python/solution/hooks/post_gen_project.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.codespell.ignore
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.flake8
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.github/workflows/ci.yml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.gitignore
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.pre-commit-config.yaml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/doc/source/conf.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/pyproject.toml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/requirements/requirements_build.txt
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/requirements/requirements_doc.txt
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/requirements/requirements_style.txt
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/requirements/requirements_tests.txt
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/setup_environment.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/solution/definition.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui/first_page.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui/intro_page.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui/page.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui/second_page.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/tests/integration/test_integration_dummy.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/tests/unit/test_unit_dummy.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/tox.ini
  tests/tests_templates/test_python_templates.py
Labels: bug, enhancement, maintenance

#226 Update sidebar-nav-bs.html
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/doc/source/_templates/sidebar-nav-bs.html
Labels: bug
