Repository ansys/ansys-templates, pull requests merged in 2023-06, with the labels that each got.

#276 FIX: Rename the pyansys/actions to ansys/actions in templates.
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/.github/workflows/ci_cd.yml
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/requirements_doc.txt
Labels: bug

#274 Adjusting templates for SAF solution so that it works with portal 0.2.1 and glow 0.3.dev4
  pyproject.toml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.env
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/pyproject.toml
Labels: maintenance

#279 fix: link
  pyproject.toml
Labels: bug, maintenance

#284 Enabling space in project name and solution name.
  src/ansys/templates/python/osl_solution/cookiecutter.json
  src/ansys/templates/python/solution/cookiecutter.json
Labels: enhancement

#285 feat: add AUTHORS and CONTRIBUTORS.md files
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/AUTHORS
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/CONTRIBUTORS.md
  src/ansys/templates/python/osl_solution/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_fastapi/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_flask/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_grpc/hooks/post_gen_project.py
  src/ansys/templates/python/pyace_pkg/hooks/post_gen_project.py
  src/ansys/templates/python/pyansys/hooks/post_gen_project.py
  src/ansys/templates/python/pyansys_advanced/hooks/post_gen_project.py
  src/ansys/templates/python/pyansys_openapi_client/hooks/post_gen_project.py
  src/ansys/templates/python/pybasic/hooks/post_gen_project.py
  src/ansys/templates/python/solution/hooks/post_gen_project.py
  tests/tests_templates/test_python_templates.py
Labels: enhancement
