Repository ansys/ansys-templates, pull requests merged in 2024-06, with the labels that each got.

#484 Maintenance/update solution template
  doc/changelog.d/484.changed.md
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.github/workflows/build-release.yml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/.pre-commit-config.yaml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/CODE_OF_CONDUCT.md
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/poetry.lock
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/pyproject.toml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/tox.ini
Labels: maintenance

#485 fix: change socio-economic to socioeconomic for codespell v2.3.0
  doc/changelog.d/485.fixed.md
  src/ansys/templates/python/common/{{cookiecutter.__project_name_slug}}/CODE_OF_CONDUCT.md
Labels: bug

#477 feat: update CLI option for creating a Dash UI using AWC as well
  doc/changelog.d/477.added.md
  pyproject.toml
  src/ansys/templates/cli.py
  src/ansys/templates/python/solution/cookiecutter.json
  src/ansys/templates/python/solution/hooks/post_gen_project.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/poetry.lock
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/pyproject.toml
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/setup_environment.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/main.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui-awc/app.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui-awc/assets/css/style.css
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui-awc/assets/images/README.md
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui-awc/assets/images/solution-workflow-sketch.png
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui-awc/assets/logos/ansys_solutions_logo_black.png
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui-awc/assets/logos/ansys_solutions_logo_white.png
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui-awc/assets/scripts/README.md
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui-awc/components/README.md
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui-awc/pages/about_page.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui-awc/pages/first_page.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui-awc/pages/page.py
  src/ansys/templates/python/solution/{{cookiecutter.__project_name_slug}}/src/ansys/solutions/{{cookiecutter.__solution_name_slug}}/ui-awc/pages/second_page.py
  src/ansys/templates/utils.py
  tests/tests_templates/test_python_templates.py
Labels: enhancement, maintenance

#487 fix: suppress ``autosectionlabel`` warning for ``changelog`` file
  doc/changelog.d/487.fixed.md
  doc/source/changelog.rst
  doc/source/conf.py
  doc/source/templates.rst
  pyproject.toml
Labels: bug, documentation, maintenance
